* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.country-list-container {
  padding: 20px;
  background: #70bdc2;
  margin: 0 0 0;
  text-align: center;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
}

.country-list-title {
  margin-bottom: 1em;
  margin-bottom: 1em;
  color: rgba(255, 255, 255, 255);
  font-size: 25px;
}

.country-list-list {
  list-style: none;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

.country-list-list__element {
  display: inline-block;
  margin: 0 4px 14px 0;
  font-size: 1.2em;
}

.country-list-list__element__link {
  text-decoration: none;
  color: #fff;
  padding: 5px 7px;
}

.country-list-list__element::before {
  content: "•";
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1em;
  position: relative;
  top: 0px;
  margin: 0px 4px 0px 0px;
}

.country-searchBox {
  padding: 9px 10px;
  width: calc(100% - 80px);
  max-width: 350px;
  font-size: 1em;
  color: #ccc;
  width: 100%;
  max-width: none;
}
